@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --black: #0D0D0D;
    --white: #F5F5F5;
    --red: #AD0909;
    --yellow: #B8860B;
    --blue: #252440;
    --grey: #58585B;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
}

.vipColor{
    color: var(--yellow);
}