.inputContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: 'Montserrat', sans-serif;
}

.inputContainer label{
    font-size: 16px;
    text-align: start;
}

.inputContainer input{
    width: 100%;
    border: 1px solid var(--grey);
    border-radius: 8px;
    -moz-appearance: textfield;
    padding: 14px;
    font-size: 16px;
    letter-spacing: 2px;
}

.inputContainer input:focus{
    border: 1px solid var(--grey);
    outline: 0;
    border-radius: 8px;
}

.inputContainer input::-webkit-inner-spin-button,
.inputContainer input::-webkit-outer-spin-button{
    -webkit-appearance: none;
}